.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/pubspec.lock

*.iml
*.ipr
*.iws
.idea/

.vscode/

*.g.dart
*.freezed.dart

android/app/debug
android/app/profile
android/app/release
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/.symlinks/
